div{
    width: 100px;
    height: 100px;
    background-image: url('car.jpg');
    background-size: cover;
    color: white;
    border-radius: 10%;
    position: fixed;
    right: 0px;
    top: 500px;
}