*{
    margin: 0;
    padding: 0;
    background-color: gray;
}

p{
    background-color: pink;
}

#di{
    width: 100px;
    height: 100px;
    background-color: black;
    background-image: url('car.jpg');
    background-size: cover;
    color: white;
    border-radius: 10%;
    position: fixed;
    right: 0px;
    top: 500px;
}

